@tailwind base;
@tailwind components;
@tailwind utilities;


/* Light Theme (Default) */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Theme */
html.dark body {
  background-color: #121212;
  color: white;
}

